<div class="columns is-multiline">
    <% @customers.each do |cust| %>
        <div class="column card is-one-fifth mr-2">
            <div class="card-content">
                <div class="media-content">
                    <p class="title is-4"><%= cust.full_name %></p>
                </div>
            </div>
            <div class="card-image">
                <figure class="image">
                    <%= image_tag(cust.image) if cust.image.attached?  %>
                </figure>
            </div>
            <div class="card-content">
                <p><%= cust.email %></p>
                <p><%= cust.phone_number %></p>
            </div>
        </div>
    <% end %>
</div>